{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HeartBeat</title>
    <link href="{% static 'ipInput/css/dashboard.css'%}" type="text/css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

</head>
<body>
<div>
    {% include "ipInput/dashboard.html" %}
</div>



<script type="text/javascript" src="{% static "ipInput/js/main.js" %}"></script>
<!--<script>-->
<!--        const body = document.querySelector('body'),-->
<!--      sidebar = body.querySelector('nav'),-->
<!--      toggle = body.querySelector(".toggle"),-->
<!--      searchBtn = body.querySelector(".search-box"),-->
<!--      modeSwitch = body.querySelector(".toggle-switch"),-->
<!--      modeText = body.querySelector(".mode-text");-->


<!--toggle.addEventListener("click" , () =>{-->
<!--    sidebar.classList.toggle("close");-->
<!--})-->

<!--searchBtn.addEventListener("click" , () =>{-->
<!--    sidebar.classList.remove("close");-->
<!--})-->

<!--modeSwitch.addEventListener("click" , () =>{-->
<!--    body.classList.toggle("dark");-->

<!--    if(body.classList.contains("dark")){-->
<!--        modeText.innerText = "Light mode";-->
<!--    }else{-->
<!--        modeText.innerText = "Dark mode";-->

<!--    }-->
<!--});-->
<!--    </script>-->
<script>
    $(document).ready(function(){
        setInterval(function(){
            $.ajax({
                type:'GET',
                url : "{% url 'getLink' %}",
                success: function(response){
                $("#display").empty();
                    for(var key in response.link)
                        {
                            console.log(response.link[key].link_name);
                            if(response.link[key].link_status_code == true){
                                var temp = "<tr><td class='profile'><i class='fa fa-film' aria-hidden='true'></i>&nbsp;" + response.link[key].link_name + "<div class='content'><img src='{% static '/ipInput/img/house.png' %}' class='image' alt='image'>"
                                    + response.link[key].link_text + "<br><p style='color:green;font-weight:900;'>Connection Status: " + response.link[key].link_status_code + "</p></div></td>"
                                    + "<td style='width: 20px; text-align: center;'><a href='updateLink/" + response.link[key].id
                                    + "'><button type='button' class='btn btn-info'>Update</button></a></td><td style='width: 20px;text-align: center;'><a href='deleteLink/"
                                    + response.link[key].id
                                    + "'><button type='button' class='btn btn-danger'>Delete</button></a></td></tr>";
                                    $("#display").append(temp);
                            }else{
                                var temp = "<tr><td class='profile'><i class='fa fa-film' aria-hidden='true'></i>&nbsp;" + response.link[key].link_name + "<div class='content'><img src='{% static '/ipInput/img/house.png' %}' class='image' alt='image'>"
                                    + response.link[key].link_text + "<br><p style='color:red;font-weight:900;'>Connection Status: " + response.link[key].link_status_code + "</p></div></td>"
                                    + "<td style='width: 20px; text-align: center;'><a href='updateLink/" + response.link[key].id
                                    + "'><button type='button' class='btn btn-info'>Update</button></a></td><td style='width: 20px;text-align: center;'><a href='deleteLink/"
                                    + response.link[key].id
                                    + "'><button type='button' class='btn btn-danger'>Delete</button></a></td></tr>";
                                    $("#display").append(temp);
                            }
                        }
                    },
                    error: function(response){
                        alert("No data found")
                    }
                });
            },2000);
        });
</script>

<script>
    function ajaxRequest(params) {
        var url = 'getLink'
        $.get(url + '?' + $.param(params.data)).then(function (res) {
            params.success(res)
        })
    }
</script>



</body>
</html>